* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
p {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

h1 {
    font-size: 50px;
    font-family: 'Helvetica';
    color: var(--cs-white);
}

h2 {
    font-size: 35px;
    font-family: 'Helvetica';
    font-weight: 600;
    padding-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 2;
    font-family: 'Helvetica';
    font-weight: 500;
    color: var(--cs-para);
}

:root {
    --cs-para: #444444;
    --cs-subbg: #e6e0cd;
    --cs-bg: #dddddd;
    --cs-title: #666666;
    --cs-text: #333333;
    --cs-orng: #e76e24;
    --cs-white: #fff;
    --cs-nav: #1c3B84;
}

.cp-60 {
    padding: 60px 0px;
}

/* header */
.header {
    border-top: 3px solid var(--cs-orng);
    padding-top: 10px;
}

.location {
    display: flex;
}

.location ul {
    margin-right: 20px;
}

.location ul a {}

.location ul a li {
    color: var(--cs-nav);
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: 'Helvetica';
    font-weight: 400;
}

.location ul a li i {
    margin-right: 7px;
}

.navbar-brand img {
    width: 80%;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--cs-nav);
    font-size: 18px;
    font-family: 'Helvetica';
    font-weight: 600;
    border-right: 1px solid var(--cs-nav);
    padding: 0px 15px;
}

.last_nav {
    border: none !important;
}

/* modal */
.modal-dialog {
    max-width: 80%;
    margin: 1.75rem auto;
}

.modal-header {
    display: block;
    position: relative;
}

.modal_butn {
    position: absolute;
    right: 40px;
    top: 8px;
}

.modal-header {
    border: none;
}

.modal-header h5 {
    font-weight: 600;
    color: var(--cs-text);
    font-size: 24px;
}

.btn-close {
    font-weight: 600;
    background: none;
    background-color: var(--cs-orng);
    opacity: 1;
    width: 100%;
    height: auto;
    border-radius: 0;
    color: var(--cs-white);
}

.schedule_form {
    width: 80% !important;
    padding-top: 20px !important;
}

.modal-body p {}

.info {
    display: flex;
    justify-content: space-between;
}

.info input {
    width: 19%;
}

.pest_services {

    width: 60% !important;
}

.pest_services label {
    color: var(--cs-text) !important;
}

.pest_opt {
    justify-content: space-between !important;
}

.pest_opt label {}

.schedule_open {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}

.schedule_modal{
    position: relative;
}

.sc_btn {
    background-color: var(--cs-orng);
    border: none;
    border-radius: 0;
    font-weight: 600;
}

.sc_btn:hover {
    background-color: var(--cs-orng);
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
    color: #fff;
    background-color: var(--cs-orng);
    border-color: transparent!important;
    box-shadow: none;
}

/* hedaer ends */

/* hero starts */
.hero {
    background-image: url(../images/where-to-check-hotel-room.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero .row {
    min-height: 90vh;
}

.hero_content {
    position: relative;
    z-index: 0;
}

.hero_content h1 {
    text-shadow: 2px 2px #000;
}

.hero_content i {
    font-size: 50px;
    color: var(--cs-white);
    padding: 20px 0px;
}

.hero_content h2 {
    color: var(--cs-white);
    font-weight: 600;
    text-shadow: 2px 2px #000;
}

.hero_form {

    padding-top: 30px;

    width: 70%;

    margin: auto;
}

.hero_form form input {

    margin-bottom: 10px;

    border-radius: 0;

    border: 1px solid var(--cs-orng);

    border-bottom: 4px solid var(--cs-orng);
}

.hero_form form input[type='submit'] {
    color: var(--cs-white);
    margin: 0;
    border: none;
    background-color: #00a5df;
    font-weight: 600;
    width: auto;
    margin: auto;
}

.services {
    padding: 20px 0px;
    width: 50%;
    margin: auto;
}

.services label {
    color: var(--cs-white);
    font-size: 20px;
    margin-bottom: 10px;
}

.serv-opt {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.serv-opt label {
    color: var(--cs-white);
    font-size: 20px;
}

.serv-opt label input {
    border: none;
    margin: 0;
}


.form-control:focus {
    color: #212529;
    background-color: #fff;
    border: 1px solid var(--cs-orng);
    border-bottom: 4px solid var(--cs-orng);
    outline: 0;
    box-shadow: none;
}

/* hero end  */

/* about starts */
.about {
    background-color: var(--cs-subbg);
}

/* about ends */

/* glance start */
.glance {
    background-color: var(--cs-bg);
}

.cimex {
    clip-path: polygon(0% 0%, 100% 0%, 84.5% 100%, 0% 100%);
    background-color: var(--cs-orng);
    padding: 60px 20px;
    position: relative;
    z-index: 10;
}

.cimex h2 a {
    color: var(--cs-white);
    font-weight: 600;
}

.kingdom {}

.kingdom li {
    margin-bottom: 10px;
}

.kingdom li i {
    margin-right: 10px;
    color: var(--cs-white);
}

.kingdom li span {
    font-size: 18px;
    color: var(--cs-white);
}

.cimex_image {
    position: relative;
    z-index: 0;
}

.cimex_image img {
    position: absolute;
    bottom: 50px;
    left: -103px;
    z-index: -1;
}

.bugs h2 {
    font-weight: 600;
    color: var(--cs-title);
}

.bugs ul {}

.bugs ul li {
    color: var(--cs-title);
    font-size: 18px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--cs-title);
    border-bottom-right-radius: 15px;
}

/* glance end */

/* exp starts */
.experience_content h2 {
    font-weight: 600;
}

/* exp ends */

/* identify starts */
.identify {
    background-color: var(--cs-bg);
}

/* identify ends */

/* inspect starts */
/* .inspect_image{
    background-image: url(../images/bed_bugs_in_a_group-e1364881915756.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.tag {
    text-align: center;
}

.tag h3 {
    position: absolute;
    width: 100%;
    bottom: 16%;
    color: var(--cs-white);
    font-weight: 200;
    font-size: 18px;
    background-color: #000000BF;
    padding: 15px 0px;
}

.inspect_image {
    position: relative;
}

.inspect_image img {
    height: 450px;
    width: 100%;
    object-fit: cover;
}

.inspect_content ul {
    margin-top: 10px;
}

.inspect_content ul li {
    margin-bottom: 10px;
}

.inspect_content ul li i {
    color: var(--cs-bg);
    margin-right: 10px;
}

.inspect_content ul li span {
    font-size: 18px;
}

/* inpect ends */

/* bites starts */
.bites {
    background-color: var(--cs-bg);
}

.bites_image img {
    height: 250px;
}

/* bites ends  */

/* .cta start */
.cta {
    background-color: var(--cs-orng);
}

.cta_content h2,
.cta_content p {
    color: var(--cs-white);
}

/* cta ends */

/* protect starts */
.protect {
    background-color: var(--cs-bg);
}

.protect_content h2 span {
    color: var(--cs-nav);
}

.list2 li i {
    color: var(--cs-title) !important;
}

/* protect ends */

/* detection starts */
.detection {
    background-color: #0a0a0a;
}

.detection h2,
.detection p {
    color: var(--cs-white);
}

/* detectin ends */

/* partner image starts */
.partner {
    background-color: var(--cs-bg);
    padding: 30px 0px;
}

.partner_image {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* partner ends */

/* footer starts */
.footer {
    background-color: var(--cs-title);
}

.footer-content {}

.footer-content img {
    margin-bottom: 20px;
}

.footer-content h3 {
    font-size: 18px;
    font-weight: 600;
    color: var(--cs-white);
}

.footer-content h4 {
    font-size: 14px;
    font-style: italic;
    margin: 5px 0px;
}

.footer-content h4 a {
    color: var(--cs-white);
}

.footer-content h5 {
    font-size: 14px;
    color: var(--cs-white);
}

.pg_link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
}

.pg_link li {
    color: var(--cs-white);
}

.pg_link li a {
    color: var(--cs-white);
    font-size: 14px;
}

.pg_link li a i {}

.btn-close:focus {
    outline: 0;
    box-shadow: none;
    opacity: 1;
}